body {
    font-family: 'Noto Serif Khojki', serif;
    text-align: center;
    background-color: rgb(165, 162, 159);
}

h1, h2{
    background-color: rgb(53, 46, 38);
    color: azure;
}

.nome{
    font-size: 20px;
}

.cabecalho > img{
    width: 22%;
    border-radius: 10%;
    filter: brightness(1.2);
    transition: 3s;
}

.descricao > p{
    background-color: azure;
    width: 50%;
    margin-left: 340px;
    border-radius: 10px;
}

.dados > span{

    font-size: 22px ;
    font-weight: bold;
}

img:hover {
    cursor: pointer;
    filter: grayscale(1);
    
}
.contato{
    
}

.btn{
    display: block;
    border-radius: 4px;
    border: none;
    background-color: rgb(122, 122, 107);
    margin-top: auto;
    
    width: 90px;
}   

.btn:hover {
    cursor: pointer;
}